.light{
background: -moz-linear-gradient(-45deg,  #ff6e00 0%, #ff6e00 40%, #ffffff 50%, #ff6e00 60%, #ff6e00 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(40%,#ff6e00), color-stop(50%,#ffffff), color-stop(60%,#ff6e00), color-stop(100%,#ff6e00));
background: -webkit-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -o-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -ms-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: linear-gradient(135deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#ff6e00',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
  animation:light 1s;
  -webkit-animation:light 1s;
  
}
body { 
    overflow-y:auto;	
   	font-family: liberties;
}
.container { 
    min-width: 100%;

}
.container .ism-slider { 
    margin-left: auto; 
    margin-right: auto; 
}
.sidebar{
    position: relative;
    transition: 0.3s;
    text-align: center;
    line-height: 0.1;
    height: 200px;
}
.sidebar img:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: 1s;
}

h3{
    font-family: liberties;
    font-size: 22px; 
}
p{
    font-size: 20px;
}
#menu{
    padding-top: 20px;
    background-color: #323232;
    color: #AE9A64;
}
.menubar{
    border-top: 2px solid;
    border-color: #ADADAD;
    padding-bottom: 30px;
}
#menu .menubar .menufont{
    float: left;
    border-top: 2px solid;
    border-color: #ADADAD;
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu .menubar .menuspan{
    width: 100%;
    height: 20px;
}
#footer .footer-sp{
    font-weight: 800;
    color:#ADADAD;
}

#footer {
	padding: 1em;
}

#footer span {
	color: #ffc726;
	padding-top: 0.2em;
}

#footer .footer-ft{
   padding-top: 15px;
	padding-bottom: 1em;
	font-size: 0.7em;
}
#footer .footer-b{
    color: white;
}
#footer .footer-img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

#navContainer vbox {
	padding: 1em;
}
#menu {
	overflow: auto
}

#content hbox {
	justify-content: center;
}

#container-render {
	padding: 1em;
    border-left: solid 5px #98989899;
    border-right: solid 5px #98989899;
    background-color: #ffffff;
    color: #000;
    box-shadow: inset 1px 1px 10px;
	
}